/* === Custom Logo === */
.ttg-logo section .widget-wrap img {
  margin: 13em auto .618em;
  display: block;
  padding: 0 1em;
}
img.ttg-logo {
  max-width: 55%;
  margin: 0 auto;
  display: block;
}
.hero-h2 h2 {
  text-align: center;
  color: #fbae17;
  font-size: 5vh;

}
.hero-h2 h3 {
  text-align: center !important;
  color: #fbae17 !important;
  font-size: 4vh !important;
}
