/* ------------------------
Misc
-------------------------- */
.grecaptcha-badge {
  display: none !important;
}

blockquote.wp-block-quote {
  font-size: 24px;
}
a:hover {
  color: grey;
  border-bottom: none;
}

