/* === Sidebar === */
.sidebar {
  background-color: var(--background-orange);
  padding: 1em;
}
.sidebar img {
  margin: auto 0;
  display: block;
  width: 100%;
}
#mc_embed_signup.sidebar-mc {
  color: #000 !important;
  padding-top: 1em;
}
#mc-embedded-subscribe.button.sidebar-mc {
  margin-top: 1em;
}
