/* === Site Header === */
.site-inner.featured-img-wrap {
  width: 100%;
  height: 400px;
}
.site-inner.featured-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.minimum .site-tagline {
  margin-top: 200px;
}
.site-header {
  background-color: #f6ab2c;
  border-bottom: 1px solid #f6ab2c;
}
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: grey;
}
