/* ====  Site Header  ==== */

.site-inner.featured-img-wrap {
  width: 100%;
  height: auto;
  margin-top: 6em;
}
.site-inner.featured-img-wrap img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.minimum .site-tagline {
  margin-top: 200px;
}
.site-header {
  background-color: #f6ab2c;
  border-bottom: 1px solid #f6ab2c;
}
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: grey;
}
#guides-reports {
  background-color: #ccc;
  padding-top: 1.618em;
  .guides-row.row {
    padding: 1.618em !important;
  }
}
