/* === Testimonials 2 === */
.fp-testimonial-two {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: 5px solid #f5f5f5;
  padding: 0 0 40px 0;
}
.fp-testimonial-two p {
  color: #999;
  font-size: 19px;
}
