/* ==== Widgets ==== */
#get-into-fish-cta {
  background-color: #333333;
  max-width: 50%;
  width: 50%;
  margin: 0 auto;
}
#contact-us-and-book-today {
  background-color: #333333;
  max-width: 30%;
  margin: 0 auto;
}
.get-into-fish,
.contact-us-and-book {
  padding: 2.618em;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #get-into-fish-cta {
    max-width: 90%;
    width: 90%;
  }
  #top-parallax-cta .cta {
    top: 5%;
    bottom: 5%;
  }
  #contact-us-and-book-today {
    width: 90%;
    max-width: 90%;
  }
  .cta-container section .widget-wrap {
    padding: .9em;
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #get-into-fish-cta {
    max-width: 100%;
    width: 100%;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}


